@model List<string>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<ol>
    @foreach (string item in Model)
    {
    <li>@item</li>
    }
</ol>
@Html.Partial("_BottomMenu")

@section AdminMenu {
    <a href="#">Administration</a>
    }